<mat-card class="my-card">
    <mat-card-content>
        <form class="my-form" [formGroup]="addTodoForm" novalidate (ngSubmit)="onSubmitAddTodo(addTodoForm.value)">
            <!-- <mat-form-field class="full-width">
                <input matInput maxlength="40" placeholder="Add Todo..." formControlName="todo">
            </mat-form-field>
            <button class="submit-btn" color="primary" mat-raised-button type="submit">
                Submit
            </button> -->
            <mat-form-field class="full-width">
                <input matInput type="text" placeholder="Add Todo..." formControlName="todo">
                <mat-error *ngFor="let validation of addValidationMessages.todo">
                    <mat-error class="error-message" *ngIf="addTodoForm.get('todo').hasError(validation.type) && (addTodoForm.get('todo').dirty || addTodoForm.get('todo').touched)">{{validation.message}}</mat-error>
                </mat-error>
                <button class="submit-btn" color="primary" mat-raised-button matSuffix [disabled]="!addTodoForm.valid" type="submit">
                  Submit
                </button>
            </mat-form-field>
            <!--REGISTER BUTTON HERE-->
        </form>
    </mat-card-content>
</mat-card>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="todo">
        <th mat-header-cell *matHeaderCellDef>Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="align-right"> Action </th>
        <td mat-cell *matCellDef="let element" class="align-right">
            <button (click)="editTodo(element)" style="margin-right: 10px;" mat-mini-fab color="primary" aria-label="Example icon button with a edit icon">
                <mat-icon>edit</mat-icon>
            </button>
            <button (click)="deleteConfirmDialog(element)" mat-mini-fab color="warn" aria-label="Example icon button with a delete icon">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>